/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-2fcc6a4f-2in9dclh version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 750px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(253, 253, 253, 0.53);
						
						padding-left: 0px;
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 0.19;
						
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-title  ,  .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-body h1  { font-size:calc( 10px + ( 40rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						text-decoration: underline;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-item-links span  ,  .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh #sr-basket-widget *  { font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-element.icon-source  {
		
						width: 140px;
						
						margin-bottom: 15px;
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-link-img  {
		
						width: 30px;
						
						margin: 15px;
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-item-links span:hover  ,  .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(57, 57, 57);
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 20px;
						
						line-height: 1.4em;
							
		}
	
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-social-holder  {
		
						margin-bottom: 15px;
						
						margin-top: 10px;
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .middle_layout .helper-div  ,  .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-subtitle  ,  .style-635c3955-akddbsak .style-2fcc6a4f-2in9dclh .preview-body h2  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						font-weight: bold;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.55em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-2fcc6a4f-2in9dclh #vbid-2fcc6a4f-8h08qj4b .preview-content-holder{
				
							text-align : left;
					
				}













 .style-2fcc6a4f-2in9dclh #vbid-2fcc6a4f-8h08qj4b .preview-content-wrapper{
				
							text-align : left;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-ccbd68bf-p9dgcwsg version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .title-holder  {
		
						text-align: center;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .Title  ,  .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 600px;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .blocks-preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(106, 106, 106);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .item-content:not(.blocks_layout)  {
		
						opacity: rgba(0, 0, 0, 0);
						
						background-color: rgb(50, 158, 212);
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-divider  {
		
						border-color: rgb(255, 255, 255);
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .inner-pic  {
		
						opacity: 1;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .blocks-preview-item-links .Link:hover  {
		
						color: rgb(191, 52, 52);
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .background-div  {
			
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-title  ,  .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-body h1  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.0em;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-item-links span  ,  .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg #sr-basket-widget *  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						font-weight: bold;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(239, 239, 239);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .stripe-background  {
		
						opacity: 0.5;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-left: -6%;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						width: 40px;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 20px;
						
						padding-left: 0px;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .Subtitle  ,  .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-item-links span:before  ,  .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .effect-tester  { 
						background-color: rgb(239, 239, 239);
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-price  {
		
						font-family: Arial;
							
		}
	
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-item-links span:hover  ,  .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgb(239, 239, 239);
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .middle_layout .helper-div  ,  .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .blocks-preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .blocks-preview-icon-holder .icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 70px;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .blocks-preview-title  {
		font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 5px;
						
						border-color: rgb(0, 0, 0);
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 20px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .pic-side:after  ,  .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .item-effect-tester  ,  .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .sub.item-box:after  { 
						background-color: rgb(191, 52, 52);
							
		}
	 .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-subtitle  ,  .style-635c3955-akddbsak .style-ccbd68bf-p9dgcwsg .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






 .style-ccbd68bf-p9dgcwsg #vbid-ccbd68bf-co0pfdvo.inner-pic{
				
							background-position : 45.5172424316406% 0%;
					
				} .style-ccbd68bf-p9dgcwsg #vbid-ccbd68bf-edg54dmk.inner-pic{
				
							background-position : 50.3448257446289% 5.51724147796631%;
					
				} .style-ccbd68bf-p9dgcwsg #vbid-ccbd68bf-ddbvpt6w.inner-pic{
				
							background-position : 50% 22.7586212158203%;
					
				}




































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-c303cb68-k2kudjdw version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .title-holder  {
		
						text-align: center;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .Title  ,  .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .Body h1  { 
						color: #8a7373;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-family: open-sans;
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw  .preview-content-holder  {
		
						text-align: left;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .item-content:not(.blocks_layout)  {
		
						opacity: rgba(0, 0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .inner-pic  {
		
						opacity: 1;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						border-width: 1px;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .blocks-preview-item-links .Link:hover  {
		
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .background-div  {
			
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .preview-title  ,  .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .preview-body h1  { 
						line-height: 0.9em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(67, 67, 67);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Montserrat;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .preview-item-links span  ,  .style-635c3955-akddbsak .style-c303cb68-k2kudjdw #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: -0.0em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .blocks-preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .stripe-background  {
		
						opacity: 0.5;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-top: -40px;
						
						margin-left: -6%;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .preview-element.icon-source  {
		
						padding-top: 0px;
						
						width: 40px;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .pic-side:after  ,  .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .item-effect-tester  ,  .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .sub.item-box:after  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						text-align: left;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .Subtitle  ,  .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .preview-item-links span:before  ,  .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: bottom;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .preview-price  {
		
						font-family: Arial;
							
		}
	
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .preview-item-links span:hover  ,  .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(106, 106, 106);
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .blocks-preview-divider  {
		
						margin-bottom: 5px;
						
						border-bottom-width: 1px;
						
						margin-top: 5px;
						
						width: 10%;
							
		}
	
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .blocks-preview-icon-holder .icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 70px;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .blocks-preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .blocks-preview-title  {
		font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(74, 74, 74);
						
						max-width: 500px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 5px;
						
						border-color: rgb(0, 0, 0);
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 20px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .middle_layout .helper-div  ,  .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .preview-subtitle  ,  .style-635c3955-akddbsak .style-c303cb68-k2kudjdw .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





 .style-c303cb68-k2kudjdw #vbid-c303cb68-dbheynhz.inner-pic{
				
							background-position : 45.5172424316406% 0%;
					
				} .style-c303cb68-k2kudjdw #vbid-c303cb68-7rssbgkg.inner-pic{
				
							background-position : 50% 22.7586212158203%;
					
				} .style-c303cb68-k2kudjdw #vbid-c303cb68-suohfumd.inner-pic{
				
							background-position : 50.3448257446289% 5.51724147796631%;
					
				}




































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-10c4f162-cg3tfm0k version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 1000px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(253, 253, 253, 0.53);
						
						padding-left: 0px;
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-divider  {
		
						border-color: rgb(138, 129, 108);
						
						width: 100%;
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 1.0;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);	
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-title  ,  .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-body h1  { 
						font-family: "Playfair Display";
						font-size:calc( 10px + ( 95rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 0.8em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .draggable-pic-wrapper  {
			
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .draggable-pic  {
			
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-item-links span  ,  .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k #sr-basket-widget *  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 20px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.15em;
						
						padding-right: 30px;
						
						margin-top: 15px;
						
						padding-left: 30px;
						
						padding-top: 20px;
						
						font-family: Arial;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 150px;
						
						margin-bottom: 15px;
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-link-img  {
		
						width: 41px;
						
						margin: 7px;
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-item-links span:hover  ,  .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(57, 57, 57);
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgba(244, 244, 244, 0.909804);
						
						letter-spacing: -0.0em;
						
						max-width: 600px;
						
						margin-top: 20px;
						
						margin-bottom: 45px;
						
						line-height: 1.4em;
							
		}
	
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .middle_layout .helper-div  ,  .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 2000px;
							
		}
	 .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-subtitle  ,  .style-635c3955-akddbsak .style-10c4f162-cg3tfm0k .preview-body h2  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: "Playfair Display";
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-10c4f162-cg3tfm0k #vbid-10c4f162-afnoiyxy .preview-content-holder{
				
							text-align : left;
					
				}


 .style-10c4f162-cg3tfm0k #vbid-10c4f162-85hdevfu.inner-pic{
				
							background-size : cover;
					
				} .style-10c4f162-cg3tfm0k #vbid-10c4f162-scpw6fo9.inner-pic{
				
							background-size : cover;
					
							background-position : 50% 50%;
					
				} .style-10c4f162-cg3tfm0k #vbid-10c4f162-qs2jgtbd.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				}




.desktop-mode .style-10c4f162-cg3tfm0k #vbid-10c4f162-c2to6ro6-wrapper.draggable-pic-wrapper{
				
							top : -52px;
					
							left : 887px;
					
							height : 627px;
					
							width : 184px;
					
				}.desktop-mode .style-10c4f162-cg3tfm0k #vbid-10c4f162-yduqh0nc-wrapper.draggable-pic-wrapper{
				
							top : 60px;
					
							left : 380px;
					
							width : 117px;
					
				}
 .style-10c4f162-cg3tfm0k #vbid-10c4f162-yduqh0nc.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-10c4f162-cg3tfm0k #vbid-10c4f162-c2to6ro6.draggable-pic{
				
							-webkit-filter:none;filter:none;
						
					
							background-position : top left;
					
							background-size : contain;
					
				}





 .style-10c4f162-cg3tfm0k #vbid-10c4f162-afnoiyxy .preview-content-wrapper{
				
							text-align : left;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-635c3955-ofdr5x7a version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 1320px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(253, 253, 253, 0.53);
						
						padding-left: 0px;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .item-content:not(.blocks_layout)  {
		
						background-color: rgb(27, 73, 190);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-divider  {
		
						width: 100%;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 1;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a.master.item-box   {
		
						background-color: rgb(237, 237, 237);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-title  ,  .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						font-family: Arimo;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-item-links span  ,  .style-635c3955-akddbsak .style-635c3955-ofdr5x7a #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						padding-right: 20px;
						
						margin-top: 5px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 660px;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-link-img  {
		
						width: 24px;
						
						margin: 16px;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-item-links span:hover  ,  .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .inner-pic-holder  {
		
						background-color: rgb(214, 214, 214);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(126, 126, 126);
						
						letter-spacing: 0.05em;
						
						max-width: 600px;
						
						margin-top: 30px;
						
						margin-bottom: 20px;
						
						font-family: HelveNueThinNormal;
							
		}
	
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-social-holder  {
		
						margin-bottom: 15px;
						
						margin-top: 10px;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .middle_layout .helper-div  ,  .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 2000px;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-subtitle  ,  .style-635c3955-akddbsak .style-635c3955-ofdr5x7a .preview-body h2  { 
						font-family: Abel;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.1em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-635c3955-ofdr5x7a #vbid-635c3955-38pkwfmk .preview-content-holder{
				
							text-align : center;
					
				}


 .style-635c3955-ofdr5x7a #vbid-635c3955-cccmmu7s.inner-pic{
				
							background-size : 37%;
					
				}











 .style-635c3955-ofdr5x7a #vbid-635c3955-38pkwfmk .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-635c3955-akddbsak version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-635c3955-akddbsak .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-635c3955-akddbsak .Subtitle  ,  .master .style-635c3955-akddbsak .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-635c3955-akddbsak .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-635c3955-akddbsak .Title  ,  .master .style-635c3955-akddbsak .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-635c3955-akddbsak .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-635c3955-akddbsak .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-635c3955-akddbsak .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-635c3955-akddbsak .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-635c3955-akddbsak .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-635c3955-akddbsak .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-635c3955-akddbsak .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-635c3955-akddbsak.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/

















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-635c3955-ubat0wmj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj .preview-item-links span:hover  ,  .style-635c3955-akddbsak .style-635c3955-ubat0wmj .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						margin-right: 10px;
						
						margin-top: 15px;
						
						margin-left: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj .preview-item-links span  ,  .style-635c3955-akddbsak .style-635c3955-ubat0wmj #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						padding-right: 10px;
						
						color: rgb(159, 159, 159);
						
						padding-bottom: 5px;
						
						border-color: rgb(246, 246, 246);
						
						letter-spacing: -0.0em;
						
						max-width: 1150px;
						
						font-weight: bold;
						
						padding-left: 10px;
						
						padding-top: 5px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj .preview-title  ,  .style-635c3955-akddbsak .style-635c3955-ubat0wmj .preview-body h1  { font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arimo;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj .preview-element.icon-source  {
		
						width: 40px;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-635c3955-akddbsak .style-635c3955-ubat0wmj .preview-subtitle  ,  .style-635c3955-akddbsak .style-635c3955-ubat0wmj .preview-body h2  { font-size:calc( 10px + ( 24rem - 10rem ) );
						font-weight: bold;
						
						color: rgb(255, 22, 22);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
